html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: calc(var(--defaultSize) * 4);
  font-family: 'Merriweather', sans-serif;
}

:root {
  --defaultSize: 4px;
  --cardWidth: 250px;
  --cardHeight: 375px;

  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --springgreen: rgb(0, 255, 127);
  --darkGreen: rgb(0, 64, 0);
  --darkgrey: rgb(77, 77, 77);
  --lightGrey: rgb(220, 220, 220);
  --blue: rgb(85, 85, 255);
  --darkBlue: rgb(0, 0, 64);
  --lightRed: rgb(255, 85, 85);
  --darkRed: rgb(64, 0, 0);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('images/body/body1.jpg');
  background-size: cover;
  background-position: center;
  gap: calc(var(--defaultSize) * 8);
}

h1 {
  font-size: 7rem;
  color: var(--springgreen);
  margin-bottom: 0;
  margin-top: 0;
}

h2,
p {
  margin: 0;
}

h2 {
  font-size: calc(var(--defaultSize) * 7);
}

p {
  font-size: calc(var(--defaultSize) * 3);
}

.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  border: var(--black) 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: calc(var(--defaultSize) * 3);
  background-image: url('images/mazo.png');
  background-size: calc(var(--defaultSize) * 120);
  background-position: center;
  box-shadow: calc(var(--defaultSize) * 2) calc(var(--defaultSize) * 2) calc(var(--defaultSize) * 2) rgba(255, 255, 255, 0.5);
}

.bomb {
  background: linear-gradient(20deg, var(--black), var(--darkgrey));
}

.defuse {
  background: linear-gradient(20deg, var(--darkGreen), var(--springgreen));
}

.jump {
  background: linear-gradient(20deg, var(--darkBlue), var(--blue));
}

.nope {
  background: linear-gradient(20deg, var(--darkRed), var(--lightRed));
}

.points {
  background: linear-gradient(20deg, var(--lightGrey), var(--white));
}

button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.imgMain {
  width: 150px;
  height: 230px;
}


.imgLogo {
  height: calc(var(--defaultSize) * 10);
  width: calc(var(--defaultSize) * 10);
}

.header,
.footer {
  display: flex;
  padding: 0px;
  height: 90vh;
  width: var(--cardWidth);
}

.footer {
  transform: rotate(180deg);
}
